.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10px 0px; */
    /* border: 2px solid; */
    margin-bottom: 40px;
    background-color: #ededed;
    position: relative;

}

.create {
    background-color: #6a8e85;
    border: #6a8e85;
    padding: 8px 15px;
    color: white;
    border-radius: 3px;
    font-size: 12px;
}

.navlist {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: stretch;
    height: 100%;
    /* padding: 10px; */
}

.navlist li {
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    /* border: 2px solid; */
    height: 95%;
}

.navlist li:hover {
    color: #6a8e85;
    /* border-bottom: 3px solid #6a8e85; */
}

.header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    max-width: 1200px;
    align-items: center;
}

.search {
    display: flex;
    gap: 15px;
}

.search input {
    border: none;
    max-width: 200px;
    height: 30px;
    background-color: #e8e8e8;
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
    border-radius: 5px;
    padding: 0 5px 0 30px;

}

.search input::placeholder {
    color: #8d9694;
    font-size: 12px;
}

.search input:focus-visible {
    outline: none;
}

.search_box {
    position: relative;
    display: flex;
    align-items: center;
}

.search_box i {
    position: absolute;
    left: 10px;
    font-size: 13px;
    color: #8d9694;
}

.alert_box {
    background-color: rgb(21, 10, 227);
    opacity: 1;
    color: white;
    visibility: visible;
    height: 60px;
    padding: 10px 20px;
    position: absolute;
    top: 80px;
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: center;
    overflow-y: hidden;
    transition: all 1000ms;
}

.alert_box_hide{
    visibility: hidden;
    background-color: rgb(21, 10, 227);
    color: white;
    opacity: 0;
    height: 0;
    overflow-y: hidden;
    width: 300px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80px;
    transition: all 1000ms;
}

.active{
    color: #6a8e85;
    border-bottom: 3px solid #6a8e85;
}

